<!DOCTYPE html>
<html lang="de">

<head id=''>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css"> -->
    <title>DnD by Patpat</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body id="home">
    <div id="login">
        <input type="text" id="loginInput" class="input" autocomplete="off" maxlength="100" autofocus
            placeholder="Wie ist Ihr Name?" />
        <p>Welche Klasse bist du?</p>
        <label class="container">Barbarian
            <input type="radio" name="radio" value="Barbarian">
            <span class="checkmark"></span>
        </label>
        <label class="container">Bard
            <input type="radio" name="radio" value="Bard">
            <span class="checkmark"></span>
        </label>
        <label class="container">Cleric
            <input type="radio" name="radio" value="Cleric">
            <span class="checkmark"></span>
        </label>
        <label class="container">Druid
            <input type="radio" name="radio" value="Druid">
            <span class="checkmark"></span>
        </label>
        <label class="container">Monk
            <input type="radio" name="radio" value="Monk">
            <span class="checkmark"></span>
        </label>
        <label class="container">Paladin
            <input type="radio" name="radio" value="Paladin">
            <span class="checkmark"></span>
        </label>
        <label class="container">Ranger
            <input type="radio" name="radio" value="Ranger">
            <span class="checkmark"></span>
        </label>
        <label class="container">Rogue
            <input type="radio" name="radio" value="Rogue">
            <span class="checkmark"></span>
        </label>
        <label class="container">Sorcerer
            <input type="radio" name="radio" value="Sorcerer">
            <span class="checkmark"></span>
        </label>
        <label class="container">Warlock
            <input type="radio" name="radio" value="Warlock">
            <span class="checkmark"></span>
        </label>
        <label class="container">Wizard
            <input type="radio" name="radio" value="Wizard">
            <span class="checkmark"></span>
        </label>

        <button id="loginButton">Send</button>

    </div>
    <div id="dnd">

        <form id="chatForm">
            <input type="text" id="chatText" class="input" autocomplete="off" maxlength="100" autofocus
                placeholder="Schreib hier eine Chatnachricht" />
            <button id="chatSubmit">Send</button>
        </form>

        <div id='dungeonMasterContainer'>
            <div id='dungeonMasterDiv'>
                <!-- <button class="hochladOverlap">Hochlad</button> -->
            </div>
        </div>

        <div id="utilityContainer">
            <ul id="chatlog" class="messages"></ul>

            <div id="questDiv">
                <button id="closeQuestlog">close</button>
                <ul id="questlog" class="quests" readonly></ul>

                <form id="questForm" action="#">
                    <input type="text" id="questInput" class="input" autocomplete="off" maxlength="100" autofocus
                        placeholder="Quest hinzufügen" />
                    <button id="questSubmit">Add</button>
                </form>
            </div>
        </div>

        <div id='diceContainer'>
            <div id='d4' class='dice' value='4'>
                <img class="diceImage" src="/images/d4.png">
                <div class="overlay">
                    <div class="hoverText">d4</div>
                </div>
            </div>
            <div id='d6' class='dice' value='6'>
                <img class="diceImage" src="/images/d6.png">
                <div class="overlay">
                    <div class="hoverText">d6</div>
                </div>
            </div>
            <div id='d8' class='dice' value='8'>
                <img class="diceImage" src="/images/d8.png">
                <div class="overlay">
                    <div class="hoverText">d8</div>
                </div>
            </div>
            <div id='d10' class='dice' value='10'>
                <img class="diceImage" src="/images/d10.png">
                <div class="overlay">
                    <div class="hoverText">d10</div>
                </div>
            </div>
            <div id='d12' class='dice' value='12'>
                <img class="diceImage" src="/images/d12.png">
                <div class="overlay">
                    <div class="hoverText">d12</div>
                </div>
            </div>
            <div id='d20' class='dice' value='20'>
                <img class="diceImage" src="/images/d20.png">
                <div class="overlay">
                    <div class="hoverText">d20</div>
                </div>
            </div>
            <div id="showQuestlog" class='showQuestlog'>
                <img class="diceImage" src="/images/scroll.png">
                <div class="overlay">
                    <div class="hoverText">Questlog</div>
                </div>
            </div>

        </div>

        <div id='nameContainer'>
        </div>

        <div id='charContainer'>
        </div>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<!-- <script type="text/javascript" src="prompt.js"></script> -->
<script type="text/javascript" src="display.js"></script>
<script type="text/javascript" src="dnd.js"></script>
<script type="text/javascript" src="quest.js"></script>

</html>