body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(87, 87, 87);
    background-image: url("/images/defaultbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#login{
    display:block;
}
#dnd {
    display:none;
}

#chatForm {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.25rem;
}

#chatForm input {
    border: 0;
    padding: 0.5rem;
    width: 100%;
    outline: 0;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    background: #ccc;
}

#chatForm button {
    width: 6rem;
    background-color: #efece7;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

#chatForm button:hover {
    background-color: #e9d9be;
}

.messages {
    font-family: 'Montserrat', sans-serif;
    height: 300px;
    width: 700px;
    resize: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc !important;
    border-radius: 16px;
    overflow: auto;
}

.messages li {
    padding: 0.5rem;
}

.messages li:nth-child(odd) {
    background: #ebe1d1
}



#dungeonMasterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

#dungeonMasterDiv {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-image: url("/images/dm.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* #dungeonMasterDiv:hover .hochladOverlap{
    display: block;
} */

#utilityContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

#chatlog {
    scrollbar-width: none;
    background: #efece7;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#chatlog::-webkit-scrollbar {
    display: none;
}

#nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.names {
    /* display: flex; */
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    text-align: center;
    font-weight: bold;
}

#charContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chars {
    position: relative;
    display: flex;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

/* .hochladOverlap {
    position: absolute;
    z-index: 2;
    display: none;
}

.chars:hover .hochladOverlap {
    display: block;
} */

/* .background {
    background: grey;
} */

.diceImage {
    max-width: 100%;
    max-height: 100%;
}

#diceContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.dice {
    position: relative;
    display: flex;
    height: 75px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    border: none;
    height: 100px;
    width: 100px;
    opacity: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#closeQuestlog {
    z-index: 2;
    position: absolute;
    right: 15px;
    top: -35px;
    width: 6rem;
    background-color: #efece7;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-transform: uppercase;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.quests {
    background: white;
    font-family: 'Montserrat', sans-serif;
    height: 250px;
    resize: none;
    border-radius: 16px;
    overflow: auto;
}

#questForm {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.25rem;

}

#questForm input {
    border: 0;
    padding: 0.5rem;
    outline: 0;
    border-radius: 0.25rem;
    background: #ccc;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}

#questForm button {
    margin-left: 10px;
    width: 6rem;
    background-color: #efece7;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    text-transform: uppercase;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#questForm button:hover {
    background-color: #e9d9be;
}

#newitem {
    width: 160px;
}

#questDiv {
    /* display:none; */
    position: absolute;
    right: 10%;
}

#questlog {
    width: 280px;
    height: 500px;
    margin: 10px 10px;
    background: #efece7;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#questlog li {
    list-style-image: url('/images/dragon.png');
    padding: 5px 10px;
    margin-bottom: 5px;
    position: relative;
}

#questlog li:nth-child(2n) {
    background: #ebe1d1
}

#questlog li:hover:after,
#questlog li.done:after {
    content: '✔';
    color: #060;
    position: absolute;
    right: 5px;
}

/* #showQuestlog {
    height: 100px;
    width: 100px;
    background: url(images/scroll.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

.showQuestlog {
    position: relative;
    display: flex;
    height: 75px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

.showQuestlog:hover .overlay {
    opacity: 1;
}

.diceImage {
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 0;
    transition: .5s ease;
}

.dice:hover .overlay {
    opacity: 1;
}

.hoverText {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}